.FilterElement {
  position: relative;
  width: 249px;
  height: 74px;
  margin: 0 20px 20px 0;
}
.FilterElement img {
  width: 249px;
  height: 74px;
  border-radius: 10px;

  /* border-radius: 10%; */
}
.FilterName {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
