.topAlbumsBox {
  width: 32vw;
  display: flex;
  margin: 0 1vw 2vw 0;
}
.topAlbumsBox:hover img {
  opacity: 0.35;
}
.FilterElement {
  padding: 1vw;
}
.FilterElement span {
  color: #fff;
}

/* .shadow {
  width: 249px;
  height: 74px;
} */
.shadow img {
  width: 10vw;
  height: auto;
  border-radius: 10px;
}
.FilterName {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
