.Filter {
  /* margin: 29px; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 25px;
}
