.App {
  margin: 0;
  color: #fff;
  margin: 0 auto;
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.Container {
  display: flex;
}

.Main {
  display: flex;
  width: 80%;
  flex-direction: column;
  /* align-items: center; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    347deg,
    rgba(2, 0, 36, 1) 39%,
    rgba(6, 6, 69, 1) 75%,
    rgba(19, 112, 131, 1) 100%
  );
}
.Header {
  color: #fff;
  margin: 40px 20px;
}
h3 {
  margin-left: 20px;
}
.trackBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: black;
}
.trackBoxEl {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw 8vw;
  border-radius: 17px;
  background: rgb(242, 242, 242);
  box-shadow: -8px -8px 21px #242424;
}
.Content {
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    347deg,
    rgba(2, 0, 36, 1) 39%,
    rgba(6, 6, 69, 1) 75%,
    rgba(19, 112, 131, 1) 100%
  );
}

.audio {
  height: 5vh;
  margin-left: 12vh;
}
span {
  font-size: 1.2vw;
  color: tomato;
}
