.LibraryList {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  justify-content: space-between;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.LibraryText {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  margin-left: 32px;
}
.listBox {
  display: flex;
  align-items: center;
}
.link {
  margin-left: 30%;
}
.remove {
  width: 28px;
  fill: #4c85c2;
  margin-right: 80px;
}
